body {
  background-color: #e4e4e4;
  font-family: "Permanent Marker", cursive;
  color: #ec88e7;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  color: #7504c0;
}
.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  border: 2px solid #8a6e85;
  background-color: #ffffff;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.cell:hover {
  background-color: #ec88e7;
  color: #ffffff;
}

.cell.disabled {
  pointer-events: none;
}

.winner-cell {
  background-color: #ec88e7;
  color: white;
  transition: all 0.3s ease-in;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

button:hover {
  background-color: #ec88e7;
}
.button {
  color: #000000;
  border: 1px solid #8a6e85;
  font-family: "Permanent Marker", cursive;
  width: 150px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}

.container h1 {
  font-family: "Permanent Marker", cursive;
  color: #ec88e7;
  font-size: 50px;
  border-bottom: 2px solid #50424d;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 0 10px 0 10px;
}

.msg {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  font-weight: bolder;
  color: #ec88e7;
  margin-top: 0px;
}

.hide {
  visibility: hidden;
}

.icon {
  padding: 5px;
  margin: 3px 3px 0px 3px;
  width: 30px;
  border-radius: 10px;
  border: 1px solid #8a6e85;
}

.icon:hover {
  background-color: #ec88e7;
  color: #000000;
  border: 1px solid #8a6e85;
  transform: scale(1.2);
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: larger;
  margin: 0px 0px 10px 0px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .cell {
  border-color: #8a6e85;
  color: #501e47;
  background-color: #a0a0a0;
}

.dark-mode .score {
  color: #ec88e7;
}
.dark-mode .cell:hover {
  background-color: #ec88e7;
}
.dark-mode .winner-cell {
  background-color: #ec88e7;
  transition: all 0.3s ease-in;
}

.dark-mode #reset-button {
  background-color: #a0a0a0;
  color: #501e47;
  border: 1px solid #8a6e85;
}
.dark-mode #reset-button:hover {
  background-color: #ec88e7;
  color: #000000;
}

.dark-mode .msg {
  color: #ec88e7;
}
.dark-mode .container h1 {
  color: #501e47;
  background-color: #a0a0a0;
  border-bottom: 2px solid #8a6e85;
}
.dark-mode .icon {
  background-color: #a0a0a0;
  color: #501e47;
  border: 1px solid #8a6e85;
}

.dark-mode .icon:hover {
  background-color: #ec88e7;
  border: 1px solid #8a6e85;
  transform: scale(1.2);
}
